
#tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: space-around;
    padding-top: 50px;
    gap: 30px;
   
}

button {
    background-color: black;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white;
}

button:hover {
    background-color: #d0d0d0;
}